@font-face {
  font-family: 'sinis';
  src:  url('lib/Sinistre/web/Sinistre-StCaroline.woff')  format('woff'); /* Safari, Android, iOS */

}
@font-face {
  font-family: 'spect';
  src:  url('lib/Spectral/Spectral-Light.ttf')  format('truetype'); /* Safari, Android, iOS */

}
html,body{
  background-color: #fff;
  margin: 0;
  padding: 0;
  height:120vh;
  width:120vw;
  font-family: 'spect';

  overflow-y: scroll;
  overflow-x: scroll;
/*  overflow: scroll;*/
}
/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 1vw;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 1vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue; 
}
.szoveg{
  opacity: 0;
  cursor:default;
  z-index: 1;
  animation: flash 0.9s none infinite alternate;
}

@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.szovegspan{
  font-size: 5em;
  color:blue;
  font-family: 'spect';
}
.gombspan{
  width:100vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top:4vh;

}
.gombspan2{
  width:100vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  bottom:4vh;

}
.gombspan3{
/*  width:100vw;*/
/*  height:auto;*/
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  top:4vh;
  right:0;

}
.gombspan4{
/*  width:100vw;*/
/*  height:auto;*/
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  bottom:4vh;
  right:0;

}
.gomb{
  cursor:pointer;
/*  font-family: 'sinis';*/

  z-index: 2;
  position: sticky;
  margin: 0 auto;
  color:red;
  border: 2px solid blue;
  border-radius: 12px;
/*  position: fixed;*/
}
.gomb:hover{
  color:blue;
  border: 2px solid red;
}
.gomb2{
  cursor:pointer;
/*  font-family: 'sinis';*/

  z-index: 2;
  position: sticky;
  margin: 0 auto;
  color:red;
  border: 2px solid blue;
  border-radius: 12px;
/*  position: fixed;*/
}
.gomb2:hover{
  color:blue;
  border: 2px solid red;
}
.gomb3{
  cursor:pointer;
/*  font-family: 'sinis';*/

  z-index: 2;
  position: sticky;
  margin: 0 auto;
  color:red;
  border: 2px solid blue;
  border-radius: 12px;
/*  position: fixed;*/
}
.gomb3:hover{
  color:blue;
  border: 2px solid red;
}
.gomb4{
  cursor:pointer;
/*  font-family: 'sinis';*/

  z-index: 2;
  position: sticky;
  margin: 0 auto;
  color:red;
  border: 2px solid blue;
  border-radius: 12px;
/*  position: fixed;*/
}
.gomb4:hover{
  color:blue;
  border: 2px solid red;
}
.container {
  border:0;
  z-index: 1;
  position: sticky;
  /*padding:0;*/
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 10vw;
  padding-left: 10vw;
  margin:0;
/*      line-height: 2;*/


  display: block;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0;
   -moz-column-count:    5;
   -moz-column-gap:      0;
   column-count:         5;
   column-gap:           2vw;  
}
.megnyilt{
  overflow: scroll;
  cursor:none;
  font-size:16em;
  width:4vw;
  height:4vh;
}
.nagyter{
/*  display: grid;*/
/*  width: 100vw;*/

  z-index: 1;
  height:8vh;
  overflow: scroll;
  width:8vw;
}
.kister{
  display: block;
  width: 100%;
  border:0;
  margin:0;
  cursor:pointer;
  width:8vw;
  height:8vh;
  z-index: 1;

}
.kister:hover{
  color:blue;
  font-size: 10vw;
  width:16vw;
  height:auto;
/*  overflow: auto;*/
/*  margin: 15vw;*/
  background-color: orange;
}
canvas{
/*  cursor : none;*/
}
#devi{
  position: sticky;
  bottom:0;
  color:red;
  font-family: 'sinis';
}
#devike{
  position: fixed;
  bottom:0;

}
#devinev{
  color:blue;
}
#devinev:hover{
  color:white;
}

@media only screen and (max-width: 600px) {
  html,body{
    height: 100vh;
  }
  .szoveg{
    bottom:0;

  }
  #devi{
    transform: rotateZ(-90deg);
    position: absolute;
    right:0;
/*    bottom:2vh;*/

}
}
